@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

.content {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.row {
  margin-right: 0; }

body {
  font-family: open sans,sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #55c57a, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-content {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #ffb900, #ff7730);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-content:hover {
    transform: skewY(2deg) skewX(15deg);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-bold-text {
  font-weight: 700 !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 2.5rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 6rem !important; } }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-top-medium {
      margin-top: 2.5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-top-big {
      margin-top: 6rem !important; } }

.u-margin-top-huge {
  margin-top: 10rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-top-huge {
      margin-top: 8rem !important; } }

.bttn, .bttn:link, .bttn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3.5rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.bttn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  color: #fff; }
  .bttn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.bttn:active, .bttn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }

.bttn--white {
  background-color: #fff;
  color: #777; }
  .bttn--white::after {
    background-color: #fff; }

.bttn--green {
  background-color: #7ed56f;
  color: #fff; }
  .bttn--green::after {
    background-color: #7ed56f; }

.bttn--competition:link, .bttn--competition:visited {
  border: 0.1rem solid #9C1A2A;
  background-color: #70131e;
  color: #fff; }

.bttn--competition:hover, .bttn--competition:active {
  background-color: #bb1f32;
  cursor: pointer; }

.bttn--akademik:link, .bttn--akademik:visited {
  border: 0.1rem solid #7E995F;
  background-color: #647a4b;
  color: #fff; }

.bttn--akademik:hover, .bttn--akademik:active {
  background-color: #90a873;
  cursor: pointer; }

.bttn--kariyer:link, .bttn--kariyer:visited {
  border: 0.1rem solid #945692;
  background-color: #744372;
  color: #fff; }

.bttn--kariyer:hover, .bttn--kariyer:active {
  background-color: #a767a5;
  cursor: pointer; }

.bttn--girisimcilik:link, .bttn--girisimcilik:visited {
  border: 0.1rem solid #A3A3A3;
  background-color: #8a8a8a;
  color: #fff; }

.bttn--girisimcilik:hover, .bttn--girisimcilik:active {
  background-color: #A3A3A3;
  cursor: pointer; }

.bttn--etkinlik:link, .bttn--etkinlik:visited {
  border: 0.1rem solid #DE1D26;
  background-color: #b1171e;
  color: #fff; }

.bttn--etkinlik:hover, .bttn--etkinlik:active {
  background-color: #e53942;
  cursor: pointer; }

.bttn--staj:link, .bttn--staj:visited {
  border: 0.1rem solid #076EB8;
  background-color: #055187;
  color: #fff; }

.bttn--staj:hover, .bttn--staj:active {
  background-color: #0883da;
  cursor: pointer; }

.bttn--haber:link, .bttn--haber:visited {
  border: 0.1rem solid #5F9C76;
  background-color: #4c7c5e;
  color: #fff; }

.bttn--haber:hover, .bttn--haber:active {
  background-color: #74aa89;
  cursor: pointer; }

.bttn--derece:link, .bttn--derece:visited {
  border: 0.1rem solid #23A7DB;
  background-color: #1c85af;
  color: #fff; }

.bttn--derece:hover, .bttn--derece:active {
  background-color: #41b4e1;
  cursor: pointer; }

.bttn--burs:link, .bttn--burs:visited {
  border: 0.1rem solid #EB9010;
  background-color: #bb730d;
  color: #fff; }

.bttn--burs:hover, .bttn--burs:active {
  background-color: #f1a02e;
  cursor: pointer; }

.bttn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.bttn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #ff7730;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #ff7730;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #ff7730;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.competitions {
  max-width: 70rem;
  width: 100%;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
  display: flex;
  height: 85%; }
  @media (max-width: 56.25em) {
    .competitions {
      width: 60rem; } }
  @media (max-width: 37.5em) {
    .competitions {
      width: 50rem; } }
  @media (max-width: 28.125em) {
    .competitions {
      width: 35rem;
      flex-direction: column;
      height: 100%; } }
  .competitions__hero {
    display: flex;
    flex: 0 1 35%;
    align-items: center; }
  .competitions__img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform .2s; }
    @media (max-width: 28.125em) {
      .competitions__img {
        width: 100%;
        height: 100%;
        text-align: center; } }
    .competitions__img:hover {
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }
  .competitions__content {
    flex: 1;
    background: white;
    padding: 3.5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media (max-width: 28.125em) {
      .competitions__content {
        padding: 1.5rem 3rem; } }
  .competitions__title {
    display: flex;
    align-items: center;
    margin-bottom: 2rem; }
  .competitions__heading {
    font-size: 1.6rem;
    font-weight: 700;
    color: black;
    margin-right: auto; }
  .competitions__description {
    font-size: 1.8rem;
    list-style: none; }
    .competitions__descriptionspan {
      flex-shrink: 0;
      width: 75%; }
    .competitions__description.label {
      font-weight: 700;
      width: 25%;
      margin-right: 1.6px; }
  .competitions__social {
    background: linear-gradient(to bottom, #c82136, #70131e); }
  .competitions__details {
    display: flex;
    margin-top: auto;
    margin-left: auto; }
    @media (max-width: 28.125em) {
      .competitions__details {
        margin: 1.5rem auto 0 auto; } }

.tags {
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
  padding: 4px 7px;
  border-radius: 100px;
  margin-left: 7px;
  margin-top: -20px; }

col-lg-6 {
  margin-bottom: 2rem; }

.contents {
  max-width: 30rem;
  width: 100%;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
  display: flex; }
  .contents img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform .2s; }
    .contents img:hover {
      transform: scale(0.95);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }

.tw:hover {
  background-color: #4099ff; }

.fb:hover {
  background-color: #3B5998; }

.wp:hover {
  background-color: #4dc247; }

.ln:hover {
  background-color: #007bb5; }

.social__buttons {
  flex: 0 0 5rem;
  writing-mode: vertical-rl;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  @media (max-width: 28.125em) {
    .social__buttons {
      flex: 0 0 40px;
      writing-mode: horizontal-tb; } }
  .social__buttons i {
    color: white; }
  .social__buttons a {
    text-decoration: none;
    border-radius: 5.6rem;
    cursor: pointer;
    height: 2.9rem;
    width: 2.9rem;
    font-size: 1.75em;
    line-height: 2.6rem;
    margin: 0 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center; }

.announcements__social-akademik {
  background: linear-gradient(to bottom, #97ae7d, #647a4b); }

.announcements__social-kariyer {
  background: linear-gradient(to bottom, #ac71aa, #744372); }

.announcements__social-girisimcilik {
  background: linear-gradient(to bottom, #bdbdbd, #8a8a8a); }

.announcements__social-etkinlik {
  background: linear-gradient(to bottom, #e7474e, #b1171e); }

.announcements__social-staj {
  background: linear-gradient(to bottom, #098be9, #055187); }

.announcements__social-haber {
  background: linear-gradient(to bottom, #7eb091, #4c7c5e); }

.announcements__social-derece {
  background: linear-gradient(to bottom, #4eb9e3, #1c85af); }

.announcements__social-burs {
  background: linear-gradient(to bottom, #f2a63c, #bb730d); }

#social2 .social_panel {
  display: flex;
  margin: 2rem 0;
  justify-content: space-between; }
  #social2 .social_panel .fa-share-alt {
    font-size: 1.6rem;
    padding-top: 1.3rem; }
    @media (max-width: 37.5em) {
      #social2 .social_panel .fa-share-alt {
        display: none; } }
  #social2 .social_panel a {
    display: flex;
    font-size: 1.6rem;
    margin-right: .5rem;
    border-radius: 4rem;
    font-weight: bold;
    background-color: #3f51b5;
    opacity: 1;
    flex: 1 1 0%;
    text-decoration: none;
    color: #fff;
    justify-content: center;
    align-items: center; }
    #social2 .social_panel a .social_share {
      padding: 0 0 0 .5rem; }
      @media (max-width: 56.25em) {
        #social2 .social_panel a .social_share {
          padding-top: 0; } }
      @media (max-width: 37.5em) {
        #social2 .social_panel a .social_share {
          display: none; } }
  #social2 .social_panel .social_count {
    display: flex;
    font-weight: bold;
    padding-left: 4.5rem;
    margin-top: -.3rem; }
  #social2 .social_panel .fb:hover {
    transform: scale(1.03); }
  #social2 .social_panel .ln:hover {
    transform: scale(1.03); }
  #social2 .social_panel .wp:hover {
    transform: scale(1.03); }
  #social2 .social_panel .tw:hover {
    transform: scale(1.03); }
  #social2 .social_panel .shared-count {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: .8rem;
    margin-right: 5px;
    background: none; }
    @media (max-width: 37.5em) {
      #social2 .social_panel .shared-count {
        display: none; } }
    #social2 .social_panel .shared-count .number {
      font-size: 1.9em;
      display: inline-block;
      color: #474b4d;
      font-weight: bold;
      text-align: center; }
    #social2 .social_panel .shared-count .shares {
      font-size: 1.3em;
      display: block;
      color: #474b4d;
      margin-top: -12px; }
  #social2 .social_panel .page-view {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none; }
    #social2 .social_panel .page-view .read_number {
      font-size: 1.9em;
      display: inline-block;
      color: #474b4d;
      font-weight: bold;
      text-align: center; }
    #social2 .social_panel .page-view .read {
      font-size: 1.3em;
      display: block;
      color: #474b4d;
      margin-top: -12px; }

.tags {
  font-size: 10px;
  text-transform: uppercase;
  color: white;
  padding: 4px 7px;
  border-radius: 100px;
  margin-left: 7px;
  margin-top: -20px; }

.akademik__tag {
  background-color: #7E995F; }

.kariyer__tag {
  background-color: #945692; }

.competitions__tag {
  background-color: #9C1A2A; }

.girisimcilik__tag {
  background-color: #A3A3A3; }

.etkinlik__tag {
  background-color: #DE1D26; }

.staj__tag {
  background-color: #076EB8; }

.haber__tag {
  background-color: #5F9C76; }

.derece__tag {
  background-color: #23A7DB; }

.burs__tag {
  background-color: #EB9010; }

.section-dashboard {
  overflow-x: hidden;
  font-size: 1.5rem; }
  .section-dashboard input,
  .section-dashboard select {
    font-size: 1.4rem; }
  .section-dashboard img {
    width: 4rem;
    height: 4rem; }
  .section-dashboard #menu-toggle {
    border: 0;
    background-color: inherit; }
  .section-dashboard #dashboard-sidebar-wrapper {
    background-color: #333 !important;
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -ms-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out; }
    @media (min-width: 40.5em) {
      .section-dashboard #dashboard-sidebar-wrapper {
        margin-left: 0; } }
    .section-dashboard #dashboard-sidebar-wrapper .sidebar-heading {
      color: #fff;
      padding: 1.25rem 1.25rem;
      font-size: 1.2rem; }
    .section-dashboard #dashboard-sidebar-wrapper .list-group {
      width: 15rem; }
      .section-dashboard #dashboard-sidebar-wrapper .list-group a {
        background-color: #333 !important;
        color: #fff;
        border: 0;
        transition: background-color 0.2s ease-in; }
        .section-dashboard #dashboard-sidebar-wrapper .list-group a:hover {
          background-color: #ff7730 !important; }
        .section-dashboard #dashboard-sidebar-wrapper .list-group a.active {
          background-color: #ff7730 !important; }
  .section-dashboard #dashboard-page-content-wrapper {
    min-width: 100vw; }
    @media (min-width: 40.5em) {
      .section-dashboard #dashboard-page-content-wrapper {
        min-width: 0;
        width: 100%; } }
  .section-dashboard #dashboard-wrapper.toggled #dashboard-sidebar-wrapper {
    margin-left: 0; }
    @media (min-width: 40.5em) {
      .section-dashboard #dashboard-wrapper.toggled #dashboard-sidebar-wrapper {
        margin-left: -15rem; } }
  .section-dashboard .show-menu {
    display: none; }

.footerbc {
  display: flex;
  justify-content: space-around;
  width: 100%; }
  @media (max-width: 56.25em) {
    .footerbc {
      flex-direction: column;
      align-items: center; } }

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  font-size: 1.2rem;
  flex-shrink: 0;
  background: #000;
  padding-top: 1.5rem; }

.footer p {
  color: #fff;
  margin-left: 20px; }

div .copyright {
  display: flex;
  align-items: center; }

/* Links Styles */
div .links {
  display: flex;
  align-items: center; }

div .links ul {
  display: flex; }

.links a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

ul.quick-links li:hover {
  font-weight: 700; }

ul.quick-links li a i {
  margin-right: 5px;
  margin-left: 10px; }

ul.quick-links li:hover a i {
  font-weight: 700; }

/* Social Styles*/
div .social {
  display: flex;
  align-items: center; }

.social a {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 1.6rem; }

.social .fab {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  color: #FFF;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.social .fab:hover {
  -webkit-box-shadow: 1px 1px 3px #333;
  -moz-box-shadow: 1px 1px 3px #333;
  box-shadow: 1px 1px 3px #333;
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
  transform: scale(1.1) rotate(360deg); }

.social a:hover {
  color: #FFF; }

.social .fab.fa-facebook-f {
  background-color: #3C599F; }

.social .fab.fa-linkedin {
  background-color: #0077B5; }

.social .fab.fa-twitter {
  background-color: #0084b4; }

.social .fab.fa-youtube {
  background-color: #ff0000; }

.social .fab.fa-instagram {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ); }

.brow {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 114rem;
  margin: 0 auto; }
  .brow:not(:last-child) {
    margin-bottom: 8rem; }
  .brow::after {
    content: "";
    display: table;
    clear: both; }
  .brow [class^="col-"] {
    float: left; }
    .brow [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .brow .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .brow .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .brow .col-2-of-3 {
    width: calc(2 * (100% - 2 * 6rem) / 3); }
  .brow .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .brow .col-2-of-4 {
    width: calc(2 * (100% - 3 * 6rem) / 4); }
  .brow .col-3-of-4 {
    width: calc(3 * (100% - 3 * 6rem) / 4); }

.header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/MYMockup.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); }
  @media (max-width: 75em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 87vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 87vh, 0 100%); } }
  @media (max-width: 56.25em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%); } }
  @media (max-width: 28.125em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 95vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 95vh, 0 100%); } }
  .header__logo {
    height: 8.5rem;
    width: 3.5rem;
    margin-top: 2rem;
    margin-left: 9rem;
    margin-right: auto; }
    .header__logo-black {
      display: none;
      height: 4.2rem;
      width: auto;
      float: left;
      margin: 0.5rem 0; }

.content--carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  display: flex;
  align-items: center;
  margin-top: 2rem; }

/*********************************************************************/
/* Bootstrap 4 Multiple Item Carousel */
/*********************************************************************/
/* medium - display 2  */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(50%); }
  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-50%); } }

/* large - display 3 */
@media (min-width: 992px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33%); }
  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33%); } }

@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
    display: none; }
  .carousel-inner .carousel-item > div:first-child {
    display: block; } }

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
  height: 98.2%; }

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0); }

/* MAIN NAV */
.main-nav {
  list-style: none;
  margin-top: 5.5rem;
  margin-right: 5rem; }
  @media (max-width: 56.25em) {
    .main-nav {
      display: none;
      float: left;
      margin-top: 3rem;
      margin-left: 2.5rem; } }
  .main-nav li {
    display: inline-block;
    margin-left: 4rem; }
    @media (max-width: 56.25em) {
      .main-nav li {
        display: block; } }
    .main-nav li a:link,
    .main-nav li a:visited {
      padding: 0.8rem 0;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.44rem;
      border-bottom: 0.2rem solid transparent;
      -webkit-transition: border-bottom 0.2s;
      transition: border-bottom 0.2s; }
      @media (max-width: 56.25em) {
        .main-nav li a:link,
        .main-nav li a:visited {
          display: block;
          border: 0;
          padding: 0;
          font-size: 1.6rem; } }
    .main-nav li a:hover,
    .main-nav li a:active {
      border-bottom: 0.2rem solid #7ed56f; }

/* MOBILE NAV */
.mobile-nav-icon {
  float: right;
  margin-top: 5.5rem;
  margin-right: 3rem;
  cursor: pointer;
  display: none; }
  @media (max-width: 56.25em) {
    .mobile-nav-icon {
      display: inline-block; }
      .mobile-nav-icon .sticky .main-nav {
        margin-top: 10px; }
      .mobile-nav-icon .sticky .main-nav li a:link,
      .mobile-nav-icon .sticky .main-nav li a:visited {
        padding: 0; }
      .mobile-nav-icon .sticky .mobile-nav-icon {
        margin-top: 10px; }
      .mobile-nav-icon .sticky .mobile-nav-icon i {
        color: #555; } }
  .mobile-nav-icon i {
    font-size: 3.2rem;
    color: #fff; }

/* STICKY NAV */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.98);
  box-shadow: 0 0.2rem 0.2rem #000;
  z-index: 9999; }
  .sticky .mobile-nav-icon {
    margin-top: 1.5rem; }
  .sticky .row {
    margin-right: 0; }
  .sticky .main-nav {
    margin-top: 18px; }
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {
      padding: 1.6rem 0;
      color: #fff; }
  .sticky .header__logo {
    display: none; }
    .sticky .header__logo-black {
      display: block;
      margin-left: 4.5rem;
      margin-right: auto; }

#wrapper {
  padding-left: 0;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

@media (min-width: 992px) {
  #wrapper #sidebar-wrapper {
    width: 22.5rem; } }

#sidebar-wrapper,
#content-sidebar-wrapper {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  z-index: 1000;
  border-right: 1px solid #eee;
  position: fixed;
  left: 225px;
  width: 0;
  height: 100%;
  margin-left: -225px;
  overflow-y: auto;
  background: #333;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }
  #sidebar-wrapper.toggled,
  #content-sidebar-wrapper.toggled {
    width: 22.5rem !important; }
  #sidebar-wrapper .sidebar-nav,
  #content-sidebar-wrapper .sidebar-nav {
    position: absolute;
    top: 0;
    width: 22.5rem;
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
    list-style: none; }
    #sidebar-wrapper .sidebar-nav li,
    #content-sidebar-wrapper .sidebar-nav li {
      text-indent: 0;
      line-height: 4.5rem;
      padding: .15rem 0; }
      #sidebar-wrapper .sidebar-nav li:last-child,
      #content-sidebar-wrapper .sidebar-nav li:last-child {
        padding-bottom: 12rem; }
      #sidebar-wrapper .sidebar-nav li:nth-child(1) .active,
      #content-sidebar-wrapper .sidebar-nav li:nth-child(1) .active {
        background-color: #7E995F; }
        #sidebar-wrapper .sidebar-nav li:nth-child(1) .active:hover,
        #content-sidebar-wrapper .sidebar-nav li:nth-child(1) .active:hover {
          background-color: #647a4b; }
      #sidebar-wrapper .sidebar-nav li:nth-child(2) .active,
      #content-sidebar-wrapper .sidebar-nav li:nth-child(2) .active {
        background-color: #EB9010; }
        #sidebar-wrapper .sidebar-nav li:nth-child(2) .active:hover,
        #content-sidebar-wrapper .sidebar-nav li:nth-child(2) .active:hover {
          background-color: #bb730d; }
      #sidebar-wrapper .sidebar-nav li:nth-child(3) .active,
      #content-sidebar-wrapper .sidebar-nav li:nth-child(3) .active {
        background-color: #23A7DB; }
        #sidebar-wrapper .sidebar-nav li:nth-child(3) .active:hover,
        #content-sidebar-wrapper .sidebar-nav li:nth-child(3) .active:hover {
          background-color: #1c85af; }
      #sidebar-wrapper .sidebar-nav li:nth-child(4) .active,
      #content-sidebar-wrapper .sidebar-nav li:nth-child(4) .active {
        background-color: #DE1D26; }
        #sidebar-wrapper .sidebar-nav li:nth-child(4) .active:hover,
        #content-sidebar-wrapper .sidebar-nav li:nth-child(4) .active:hover {
          background-color: #b1171e; }
      #sidebar-wrapper .sidebar-nav li:nth-child(5) .active,
      #content-sidebar-wrapper .sidebar-nav li:nth-child(5) .active {
        background-color: #A3A3A3; }
        #sidebar-wrapper .sidebar-nav li:nth-child(5) .active:hover,
        #content-sidebar-wrapper .sidebar-nav li:nth-child(5) .active:hover {
          background-color: #8a8a8a; }
      #sidebar-wrapper .sidebar-nav li:nth-child(6) .active,
      #content-sidebar-wrapper .sidebar-nav li:nth-child(6) .active {
        background-color: #5F9C76; }
        #sidebar-wrapper .sidebar-nav li:nth-child(6) .active:hover,
        #content-sidebar-wrapper .sidebar-nav li:nth-child(6) .active:hover {
          background-color: #4c7c5e; }
      #sidebar-wrapper .sidebar-nav li:nth-child(7) .active,
      #content-sidebar-wrapper .sidebar-nav li:nth-child(7) .active {
        background-color: #945692; }
        #sidebar-wrapper .sidebar-nav li:nth-child(7) .active:hover,
        #content-sidebar-wrapper .sidebar-nav li:nth-child(7) .active:hover {
          background-color: #744372; }
      #sidebar-wrapper .sidebar-nav li:nth-child(8) .active,
      #content-sidebar-wrapper .sidebar-nav li:nth-child(8) .active {
        background-color: #076EB8; }
        #sidebar-wrapper .sidebar-nav li:nth-child(8) .active:hover,
        #content-sidebar-wrapper .sidebar-nav li:nth-child(8) .active:hover {
          background-color: #055187; }
      #sidebar-wrapper .sidebar-nav li a,
      #content-sidebar-wrapper .sidebar-nav li a {
        display: block;
        text-decoration: none;
        color: #fff;
        padding-left: 3rem; }
      #sidebar-wrapper .sidebar-nav li:nth-child(1) a:hover,
      #content-sidebar-wrapper .sidebar-nav li:nth-child(1) a:hover {
        background-color: #7E995F; }
      #sidebar-wrapper .sidebar-nav li:nth-child(2) a:hover,
      #content-sidebar-wrapper .sidebar-nav li:nth-child(2) a:hover {
        background-color: #EB9010; }
      #sidebar-wrapper .sidebar-nav li:nth-child(3) a:hover,
      #content-sidebar-wrapper .sidebar-nav li:nth-child(3) a:hover {
        background-color: #23A7DB; }
      #sidebar-wrapper .sidebar-nav li:nth-child(4) a:hover,
      #content-sidebar-wrapper .sidebar-nav li:nth-child(4) a:hover {
        background-color: #DE1D26; }
      #sidebar-wrapper .sidebar-nav li:nth-child(5) a:hover,
      #content-sidebar-wrapper .sidebar-nav li:nth-child(5) a:hover {
        background-color: #A3A3A3; }
      #sidebar-wrapper .sidebar-nav li:nth-child(6) a:hover,
      #content-sidebar-wrapper .sidebar-nav li:nth-child(6) a:hover {
        background-color: #5F9C76; }
      #sidebar-wrapper .sidebar-nav li:nth-child(7) a:hover,
      #content-sidebar-wrapper .sidebar-nav li:nth-child(7) a:hover {
        background-color: #945692; }
      #sidebar-wrapper .sidebar-nav li:nth-child(8) a:hover,
      #content-sidebar-wrapper .sidebar-nav li:nth-child(8) a:hover {
        background-color: #076EB8; }

@media (max-width: 992px) {
  .navigation .navigation__button,
  .content-navigation .navigation__button {
    opacity: 1;
    visibility: visible; } }

.navigation__checkbox,
.content-navigation__checkbox {
  display: none; }

.navigation__button,
.content-navigation__button {
  opacity: 0;
  visibility: hidden;
  background-color: #000;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 8rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media (max-width: 37.5em) {
    .navigation__button,
    .content-navigation__button {
      right: 3rem;
      top: 7rem;
      height: 5rem;
      width: 5rem; } }

.navigation__icon,
.content-navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  @media (max-width: 37.5em) {
    .navigation__icon,
    .content-navigation__icon {
      margin-top: 2.5rem; } }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after,
  .content-navigation__icon,
  .content-navigation__icon::before,
  .content-navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #fff;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after,
  .content-navigation__icon::before,
  .content-navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before,
  .content-navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after,
  .content-navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before,
.content-navigation__button:hover .navigation__icon::before, .navigation__button:hover
.content-navigation__icon::before,
.content-navigation__button:hover
.content-navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after,
.content-navigation__button:hover .navigation__icon::after, .navigation__button:hover
.content-navigation__icon::after,
.content-navigation__button:hover
.content-navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon,
.content-navigation__checkbox:checked + .navigation__button .navigation__icon, .navigation__checkbox:checked +
.content-navigation__button .navigation__icon,
.content-navigation__checkbox:checked +
.content-navigation__button .navigation__icon, .navigation__checkbox:checked + .navigation__button
.content-navigation__icon,
.content-navigation__checkbox:checked + .navigation__button
.content-navigation__icon, .navigation__checkbox:checked +
.content-navigation__button
.content-navigation__icon,
.content-navigation__checkbox:checked +
.content-navigation__button
.content-navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before,
.content-navigation__checkbox:checked + .navigation__button .navigation__icon::before, .navigation__checkbox:checked +
.content-navigation__button .navigation__icon::before,
.content-navigation__checkbox:checked +
.content-navigation__button .navigation__icon::before, .navigation__checkbox:checked + .navigation__button
.content-navigation__icon::before,
.content-navigation__checkbox:checked + .navigation__button
.content-navigation__icon::before, .navigation__checkbox:checked +
.content-navigation__button
.content-navigation__icon::before,
.content-navigation__checkbox:checked +
.content-navigation__button
.content-navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after,
.content-navigation__checkbox:checked + .navigation__button .navigation__icon::after, .navigation__checkbox:checked +
.content-navigation__button .navigation__icon::after,
.content-navigation__checkbox:checked +
.content-navigation__button .navigation__icon::after, .navigation__checkbox:checked + .navigation__button
.content-navigation__icon::after,
.content-navigation__checkbox:checked + .navigation__button
.content-navigation__icon::after, .navigation__checkbox:checked +
.content-navigation__button
.content-navigation__icon::after,
.content-navigation__checkbox:checked +
.content-navigation__button
.content-navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

#announcements-page {
  padding: 16.8rem 0; }
  #announcements-page .row {
    padding: 0 15rem; }
    @media (max-width: 56.25em) {
      #announcements-page .row {
        padding: 0; } }
  #announcements-page figure {
    margin-bottom: 5rem; }
  @media (max-width: 75em) {
    #announcements-page #heading {
      font-size: 1.6rem;
      margin-top: 1rem; } }

.card-body {
  font-size: 1.3rem; }

#competitions-page {
  margin-top: 4rem;
  padding: 20rem 0;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/Muhyarfon.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center; }
  @media (max-width: 37.5em) {
    #competitions-page {
      padding: 15rem 0; } }
  #competitions-page .row {
    padding: 0 15rem; }
    @media (max-width: 56.25em) {
      #competitions-page .row {
        padding: 0; } }
  #competitions-page figure {
    margin-bottom: 5rem; }
  @media (max-width: 75em) {
    #competitions-page #heading {
      font-size: 1.6rem;
      margin-top: 1rem; } }

hr {
  border: 1px solid #2998ff; }
  @media (max-width: 75em) {
    hr {
      width: 50%;
      margin: 0 auto; } }

.cerite-competition {
  border: 1px solid #9C1A2A; }

.cerite-akademik {
  border: 1px solid #7E995F; }

.cerite-burs {
  border: 1px solid #EB9010; }

.cerite-derece {
  border: 1px solid #23A7DB; }

.cerite-etkinlik {
  border: 1px solid #DE1D26; }

.cerite-girisimcilik {
  border: 1px solid #A3A3A3; }

.cerite-haber {
  border: 1px solid #5F9C76; }

.cerite-kariyer {
  border: 1px solid #945692; }

.cerite-staj {
  border: 1px solid #076EB8; }

@media (max-width: 75em) {
  .cerite {
    width: 100%;
    margin: 0 auto; } }

.comp-page--details {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 28.125em) {
    .comp-page--details {
      flex-direction: column;
      align-items: center; } }
  .comp-page--details p {
    margin: 0; }

.list-group {
  background-color: #f5f5f5;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0; }
  .list-group img {
    height: 6rem !important;
    width: 12rem !important;
    margin: 0 auto; }
  .list-group #heading {
    font-size: 1.3rem; }

#content-page {
  padding: 5.3rem 0;
  background-color: #f5f5f5; }
  #content-page .row {
    padding: 0 4rem 0 30rem; }
    @media (max-width: 56.25em) {
      #content-page .row {
        padding: 0; } }
  #content-page figure {
    margin-bottom: 5rem; }
  @media (max-width: 75em) {
    #content-page #heading {
      font-size: 1.6rem;
      margin-top: 1rem; } }

.content {
  background-color: #f5f5f5; }

.special-border {
  background-color: #2998ff; }

.content-header {
  display: flex;
  flex-direction: column; }
  .content-header__top {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .content-header__top p {
      margin: 0; }
  .content-header__info {
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around; }
    .content-header__info a {
      color: #777;
      text-decoration: none; }
      .content-header__info a:hover {
        color: #2998ff; }
    @media (max-width: 56.25em) {
      .content-header__info {
        flex-direction: column; } }
  .content-header .owner__profile {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .content-header .owner__profile img {
      margin-top: 4rem;
      width: 9.5rem;
      height: 9.5rem;
      border-radius: 50%; }
    .content-header .owner__profile h6 {
      margin: 4rem 0 0 2rem;
      font-size: 2rem; }

.content-page {
  display: flex;
  flex-direction: column; }
  .content-page__img img {
    max-height: 60rem; }
    @media (max-width: 56.25em) {
      .content-page__img img {
        max-height: 50rem; } }
    @media (max-width: 37.5em) {
      .content-page__img img {
        max-height: 45rem; } }
    @media (max-width: 28.125em) {
      .content-page__img img {
        max-height: 40rem; } }
  .content-page__detail {
    font-size: 1.5rem;
    font-family: inherit !important;
    text-align: justify;
    justify-content: center; }
    .content-page__detail iframe {
      width: 100%;
      height: 40rem; }
    .content-page__detail p a {
      background-color: inherit !important; }
    .content-page__detail ul {
      padding-left: 3.5rem; }
    .content-page__detail img {
      display: block;
      margin: auto;
      max-height: 60rem; }
      @media (max-width: 56.25em) {
        .content-page__detail img {
          max-height: 50rem; } }
      @media (max-width: 37.5em) {
        .content-page__detail img {
          max-height: 45rem; } }
      @media (max-width: 28.125em) {
        .content-page__detail img {
          max-height: 40rem; } }

@media (min-width: 992px) {
  #wrapper #content-sidebar-wrapper {
    width: 32rem; } }

#content-sidebar-wrapper.toggled {
  width: 32rem !important; }

#content-sidebar-wrapper .sidebar-nav {
  width: 33rem; }
  #content-sidebar-wrapper .sidebar-nav li {
    line-height: 3.5rem; }
    #content-sidebar-wrapper .sidebar-nav li:first-child .active {
      background-color: #CE272A;
      color: #fff !important; }
      #content-sidebar-wrapper .sidebar-nav li:first-child .active:hover {
        background-color: #a31f21; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(2) .active {
      background-color: #DD9737; }
      #content-sidebar-wrapper .sidebar-nav li:nth-child(2) .active:hover {
        background-color: #c07d21; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(3) .active {
      background-color: #649556; }
      #content-sidebar-wrapper .sidebar-nav li:nth-child(3) .active:hover {
        background-color: #4e7543; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(4) .active {
      background-color: #232B52; }
      #content-sidebar-wrapper .sidebar-nav li:nth-child(4) .active:hover {
        background-color: #14182e; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(5) .active {
      background-color: #6E6868; }
      #content-sidebar-wrapper .sidebar-nav li:nth-child(5) .active:hover {
        background-color: #544f4f; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(6) .active {
      background-color: #076AAF; }
      #content-sidebar-wrapper .sidebar-nav li:nth-child(6) .active:hover {
        background-color: #054c7e; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(7) .active {
      background-color: #2CA853; }
      #content-sidebar-wrapper .sidebar-nav li:nth-child(7) .active:hover {
        background-color: #21803f; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(8) .active {
      background-color: #6F2771; }
      #content-sidebar-wrapper .sidebar-nav li:nth-child(8) .active:hover {
        background-color: #4a1a4b; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(9) .active {
      background-color: #B33989; }
      #content-sidebar-wrapper .sidebar-nav li:nth-child(9) .active:hover {
        background-color: #8c2d6b; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(10) .active {
      background-color: #DCD44A;
      color: #000; }
      #content-sidebar-wrapper .sidebar-nav li:nth-child(10) .active:hover {
        background-color: #ccc327; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(11) .active {
      background-color: #943539; }
      #content-sidebar-wrapper .sidebar-nav li:nth-child(11) .active:hover {
        background-color: #6e282b; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(12) .active {
      background-color: #1EA8DD; }
      #content-sidebar-wrapper .sidebar-nav li:nth-child(12) .active:hover {
        background-color: #1886b0; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(13) .active {
      background-color: #4F5A5D; }
      #content-sidebar-wrapper .sidebar-nav li:nth-child(13) .active:hover {
        background-color: #383f41; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(14) .active {
      background-color: #72AE3F; }
      #content-sidebar-wrapper .sidebar-nav li:nth-child(14) .active:hover {
        background-color: #598931; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(15) .active {
      background-color: #CE5A8F; }
      #content-sidebar-wrapper .sidebar-nav li:nth-child(15) .active:hover {
        background-color: #bd3875; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(16) .active {
      background-color: #EBEBE9;
      color: #000; }
      #content-sidebar-wrapper .sidebar-nav li:nth-child(16) .active:hover {
        background-color: #d3d3ce; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(17) .active {
      background-color: #996914; }
      #content-sidebar-wrapper .sidebar-nav li:nth-child(17) .active:hover {
        background-color: #6c4a0e; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(18) .active {
      background-color: #A8233F; }
      #content-sidebar-wrapper .sidebar-nav li:nth-child(18) .active:hover {
        background-color: #7e1a2f; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(19) .active {
      background-color: #D86528; }
      #content-sidebar-wrapper .sidebar-nav li:nth-child(19) .active:hover {
        background-color: #ae511f; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(20) .active {
      background-color: #3C4424; }
      #content-sidebar-wrapper .sidebar-nav li:nth-child(20) .active:hover {
        background-color: #1f2312; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(21) .active {
      background-color: #E9D14D;
      color: #000; }
      #content-sidebar-wrapper .sidebar-nav li:nth-child(21) .active:hover {
        background-color: #e3c520; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(22) .active {
      background-color: #C15B65; }
      #content-sidebar-wrapper .sidebar-nav li:nth-child(22) .active:hover {
        background-color: #a9404a; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(23) .active {
      background-color: #1D9AA0; }
      #content-sidebar-wrapper .sidebar-nav li:nth-child(23) .active:hover {
        background-color: #157075; }
    #content-sidebar-wrapper .sidebar-nav li a {
      display: block;
      text-decoration: none;
      color: #fff;
      padding-left: 2rem; }
    #content-sidebar-wrapper .sidebar-nav li:first-child a:hover {
      background-color: #CE272A;
      color: #fff; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(2) a:hover {
      background-color: #DD9737; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(3) a:hover {
      background-color: #649556; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(4) a:hover {
      background-color: #232B52; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(5) a:hover {
      background-color: #6E6868; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(6) a:hover {
      background-color: #076AAF; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(7) a:hover {
      background-color: #2CA853; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(8) a:hover {
      background-color: #6F2771; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(9) a:hover {
      background-color: #B33989; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(10) a:hover {
      background-color: #DCD44A;
      color: #000; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(11) a:hover {
      background-color: #943539; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(12) a:hover {
      background-color: #1EA8DD; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(13) a:hover {
      background-color: #4F5A5D; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(14) a:hover {
      background-color: #72AE3F; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(15) a:hover {
      background-color: #CE5A8F; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(16) a:hover {
      background-color: #EBEBE9;
      color: #000; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(17) a:hover {
      background-color: #996914; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(18) a:hover {
      background-color: #A8233F; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(19) a:hover {
      background-color: #D86528; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(20) a:hover {
      background-color: #3C4424; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(21) a:hover {
      background-color: #E9D14D;
      color: #000; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(22) a:hover {
      background-color: #C15B65; }
    #content-sidebar-wrapper .sidebar-nav li:nth-child(23) a:hover {
      background-color: #1D9AA0; }
  #content-sidebar-wrapper .sidebar-nav li a {
    padding-left: 1.5rem; }

@media (max-width: 992px) {
  .content-navigation__button {
    opacity: 1;
    visibility: visible; } }

.section-competitions {
  background-color: #f5f5f5;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media (max-width: 37.5em) {
    .section-competitions {
      padding: 20rem 0; } }

.section-contents {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.7), rgba(86, 67, 250, 0.7)), url(../img/1.jpg);
  background-size: 100% 100%;
  transform: skewY(-7deg);
  margin-top: -11.5rem; }
  .section-contents > * {
    transform: skewY(7deg); }
  @media (max-width: 56.25em) {
    .section-contents {
      padding: 12.5rem 0; } }

.section-announcements {
  background-color: #f5f5f5;
  padding: 25rem 0 15rem 0;
  margin-top: -11.5rem; }
  @media (max-width: 56.25em) {
    .section-announcements {
      padding: 17.5rem 0 10rem 0; } }
